
server/.idea/workspace.xml
server/.idea/workspace.xml
serverproject/.idea/misc.xml
serverproject/.idea/modules.xml
serverproject/.idea/workspace.xml
serverproject/.idea/serverproject.iml
serverproject/gameservice/__pycache__/managerbase.cpython-36.pyc
